.about {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  /*padding: 2rem;*/
  gap: 1rem;
  flex-wrap: wrap;

  h1 {
    padding: 0;
    margin: 0;
  }
}

.image {
  flex: 1;
  display: flex;
  align-items: center;
}

.image img {
  width: 100%; /* Ensures the image scales properly */
  height: 100%; /* Matches the height of its container */
  object-fit: cover; /* Ensures the image doesn't stretch or distort */
  border-radius: 10px; /* Optional: Adds rounded corners for a modern look */
}

.bio {
  flex: 2; /* Allows the bio section to take up more space */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border-radius: 10px; /* Optional */
}

.bio-info {
  display: flex;
  flex-direction: column;
  h5 {
    padding: 0;
    margin: 0;
  }

}

.about-name {
  margin-top: 0rem;
} 

.about-location {
  display: flex;
  padding: 0;
}

.about-location h6  {
  padding: 0;
  margin: 0;
}

a {
  color: var(--primary-color)
}


/*@media (max-width: 768px) {*/
/*  .about {*/
/*    flex-direction: column;*/
/*  }*/
/*}*/


