@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=League+Gothic&display=swap');

/* Variables */
:root {
  /* Colors */
  --background-color: #F5ECE2;
  --primary-color: #2F2E2C;
  --secondary-color: #BDB482;

  /* Fonts */
  --header-font: "League Gothic", sans-serif;
  --primary-font: "IBM Plex Sans", sans-serif;

  /* Font sizes from typescale.com, augmented fourth scaling*/
  --h1: 7.993rem;
  --h2: 5.653rem;
  --h3: 3.998rem;
  --h4: 2.827rem;
  --h5: 1.999rem;
  --h6: 1.414rem;
  --p: 1.25rem;
  --small: 0.707rem;
  --extra-small: 0.5rem;
}

/* Global styles */
body {
  font-family: var(--primary-font);
  background-color: var(--background-color);
  margin: 0 auto;
  width: 100%;
  /*max-width: 80ch;*/
  padding: 1rem;
}
h1, h2 {
/*h1, h2, h3, h4, h5, h6 {*/
  font-family: var(--header-font)
}

/* Headers */
h1 {
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6 {
  font-size: var(--h6);
}

/* Paragraphs and small text */
p {
  font-size: var(--p);
}

small {
  font-size: var(--small);
}

.extra-small {
  font-size: var(--extra-small);
}

