---
import "../styles/about.css"
import BioIcons from "./BioIcons.astro"
const bioDesc = "I’m a software engineer passionate about finding creative solutions to algorithmic problems in computer systems and AI/ML. Currently a junior at Brown University studying Computer Science and Mathematics. Outside of the classroom, you can find me developing solutions for student organizations with Full Stack at Brown, or playing the guitar in my dorm."
---
 <div class="about">
    <div class="image">
      <img src="https://media.licdn.com/dms/image/v2/D4E03AQH-ZaOIp8fWzw/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1687810197861?e=1756339200&v=beta&t=p4NxNs9LsIRBVzcFqRuGRDW3T0ZmwvHNEtE6VVD5Mik" alt="jesus profile picture" /> 
    </div>
    <div class="bio">
    <h1 class="about-name">JESUS RODRIGUEZ</h1>
    <div class="bio-info">
      <h5 class="about-title">Software Engineer</h5>
      <div class="about-location">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 11.5A2.5 2.5 0 0 1 9.5 9A2.5 2.5 0 0 1 12 6.5A2.5 2.5 0 0 1 14.5 9a2.5 2.5 0 0 1-2.5 2.5M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7"/>
      <h6>Providence, RI</h6>
      </div>
    <BioIcons />
    </div>
    <p>{bioDesc}</p>
    </div>
</div>

