---
const { label } = Astro.props;
---

<div class="tag">
  <p>{label}</p>
</div>

<style>
.tag {
  background-color: var(--secondary-color);
  color: white;
  padding: 0.1rem 0.75rem; /* Reduce top and bottom padding */
}

.tag p {
margin: 0; 
line-height: 2rem;
}
</style>

